body {
	background-image: url("../images/parallax-bg.jpg");
    font: 12px/15px Arial, Helvetica, sans-serif;
    color: #6b6b6b;
	margin: 0; 
	line-height: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

#logo {
	margin: 60px 0px 0px 0px; 
    width: 30em;
    transition: transform 0.3s ease-in-out;
    position: relative; /* moved from the second #logo block */
}

#logo:hover {
    transform: scale(1.1);
}


#wrapper {
	text-align: center;
}

#content {
	display: inline-block;
	width: auto;
	height: auto;
}

#footer {
    background: #2f2f2f;
    color: #999999;
    position: absolute;
	height: auto;
	bottom: 0; 
	width: 100%;
    margin: 0; 
    padding: 10px 0 10px 0;
    text-align: center;
}

label {
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	overflow: hidden;
	padding-right: 50px;
	font-weight: bold;
	color: white; 
	font-size: 14px; 
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.9); /* Added shadow */
}

.loginInput {
	float: left;
	color: #6B6B6B;
	width: 320px;
	background-color: #F4F4F4;
	border: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	padding: 6px;
	margin-bottom: 12px;
}

.submit input {
	background: linear-gradient(#192D50, #1f1f21);
	color: white;
	font-weight: bold;
	padding: 10px 50px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.submit input:hover {
	animation: pulse 1s infinite;
}

#messages {
	color: #ffffff;
	font-weight: bold;
	background: rgba(250, 0, 0, 0.5);
	border-radius: 5px;
	width: 200px; 
	margin: 0 auto;
	font-size: 13px; 
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

fieldset {
	width: 350px;
	padding: 10px 20px 10px 20px;
	overflow: hidden;
	border-style: none;
}

p {
	font-size: 13px;
}

